replicate
openai
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
python-dotenv
Pillow
pydub
streamlit
elevenlabs
watchdog

soundfile
mido
music21
pybind11
oemer
demucs==4.0.1
redis==5.0.3
streamlit-autorefresh==1.0.1
playwright-stealth
